.flex {display: flex;}
.flex.justify-center {justify-content: center;}
.flex.justify-start {justify-content: flex-start;}
.flex.justify-end {justify-content: flex-end;}
.flex.justify-space-between {justify-content: space-between;}
.flex.wrap {flex-wrap: wrap;}
.flex.align-items-center {align-items: center;}
.flex.align-content-center {align-content: center;}
.w-100 {width: 100%}
.w-available {width: -webkit-fill-available}
.py-10 {padding: 10px 0;}
.py-5 {padding: 5px 0;}
.px-30 {padding: 0 30px;}
.gap-10 {gap: 10px}
.gap-5 {gap: 5px}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
main {
  margin-top: 100px;
}
footer {
  background: #232323 0% 0% no-repeat padding-box;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
footer p {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0.14px;
  color: #FFFFFF;
}
header .marquee {
  width: 100%; /* Set a width to contain the marquee */
  overflow: hidden;
  white-space: nowrap;
  min-height: 40px; /* Adjust this height as needed */
  position: fixed;
  top: 0;
  border: 1px solid #a08ddc;
  background: transparent linear-gradient(180deg, #444343 0%, #141414 100%) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .marquee p {
  position: absolute; /* Absolute positioning */
  width: 100%; /* Same width as parent to match when it scrolls out */
  animation: marquee 20s linear infinite; /* Complete loop in 20 seconds */
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  font-family: Poppins;
  letter-spacing: -0.23px;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
} 
header nav {
  top: 40px;
  background: #5D4C94;
  position: fixed;
  border: 1px solid #a08ddc;
  min-height: 64px;
}
header .container-fluid {
  padding-
}
header ul {
  list-style: none;
}
header ul>li {
  padding: 0 12px;
}
header ul>li>a {
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: -0.21px;
  color: #FFFFFF;
}
header ul>li>a.active,
header ul>li>a:hover {
  color: #1CFFE8;
}
header .btn-signup {
  background: #3c3355 0% 0% no-repeat padding-box;
  border-radius: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 10px 30px;
  height: min-content;
  border: none;
  cursor: pointer;
}
header .btn-signup:hover {
  outline: 1px solid #3c3355;
  background: transparent;
}
header .btn-signin {
  background: #846AD5 0% 0% no-repeat padding-box;
  border-radius: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 10px 45px;
  height: min-content;
  border: none;
  cursor: pointer;
}
header .btn-signin:hover {
  outline: 1px solid #846AD5;
  background: transparent;
}
header .language-container {
  margin-left: 20px;
}
header .language-container div {
  background: #5d4c94 0% 0% no-repeat padding-box;
  border: 1px solid #a08ddc;
  height: 25px;
  margin: 0 10px;
}
header .btn-language {
  border-radius: 7px;
  background: transparent;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
header .btn-language:hover {
  outline: 1px solid #34F8FF;
}
header .btn-language.active {
  outline: 1px solid #34F8FF;
}
header .svg-container {
  display: none;
}

@media only screen and (max-width: 1319px) {
  header .svg-container {
    display: block;
  }
  header ul,
  header .btn-signup,
  header .btn-signin {
    display: none !important;
  }
  header .links-container {
    justify-content: flex-end !important;
  }
}
