.flex {display: flex;}
.flex.justify-center {justify-content: center;}
.flex.justify-start {justify-content: flex-start;}
.flex.justify-end {justify-content: flex-end;}
.flex.justify-between {justify-content: space-between;}
.flex.wrap {flex-wrap: wrap;}
.flex.align-center {align-items: center;}
.flex.align-content-center {align-content: center;}
.px-10 {
  padding-right: 7rem!important;
  padding-left: 7rem!important;
}
.font-weight-bolder {
  font-weight: 700;
}
.text-primary {
  color: #8773C8 !important;
}
.my-5 {margin-top: 2.5rem!important; margin-bottom: 2.5rem!important;}
.mx-5 {margin-left: 2.5rem!important; margin-right: 2.5rem!important;}
.mb-5 {margin-bottom: 2.5rem!important;}
.mt-5 {margin-top: 2.5rem!important;}
.ml-5 {margin-left: 2.5rem!important;}
.mr-5 {margin-right: 2.5rem!important;}
.py-5 {padding-top: 2.5rem!important; padding-bottom: 2.5rem!important;}
.px-5 {padding-left: 2.5rem!important; padding-right: 2.5rem!important;}
.pb-5 {padding-bottom: 2.5rem!important;}
.pt-5 {padding-top: 2.5rem!important;}
.pl-5 {padding-left: 2.5rem!important;}
.pr-5 {padding-right: 2.5rem!important;}

body {
  box-sizing: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 100vw;
  background: #F0EBFF;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

footer {
  background: #232323 0% 0% no-repeat padding-box;
}
footer p {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0.14px;
  color: #FFFFFF;
}
header .marquee {
  width: 100%; /* Set a width to contain the marquee */
  overflow: hidden;
  white-space: nowrap;
  min-height: 40px; /* Adjust this height as needed */
  position: fixed;
  top: 0;
  border: 1px solid #a08ddc;
  background: transparent linear-gradient(180deg, #444343 0%, #141414 100%) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .marquee p {
  position: absolute; /* Absolute positioning */
  width: 100%; /* Same width as parent to match when it scrolls out */
  animation: marquee 40s linear infinite; /* Complete loop in 20 seconds */
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  font-family: Poppins;
  letter-spacing: -0.23px;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
} 
header nav {
  top: 40px;
  background: #5D4C94;
  position: fixed;
  border: 1px solid #a08ddc;
  min-height: 64px;
}
header .container-fluid {
  padding-
}
header ul {
  list-style: none;
}
header ul>li {
  padding: 0 12px;
}
header ul>li>a {
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: -0.21px;
  color: #FFFFFF;
}
header ul>li>a.active,
header ul>li>a:hover {
  color: #1CFFE8;
}
header .btn-signup {
  background: #3c3355 0% 0% no-repeat padding-box;
  border-radius: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 10px 30px;
  height: min-content;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}
header .btn-signup:hover {
  outline: 1px solid #3c3355;
  background: transparent;
}
header .btn-signin {
  background: #846AD5 0% 0% no-repeat padding-box;
  border-radius: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 10px 45px;
  height: min-content;
  border: none;
  cursor: pointer;
}
header .btn-signin:hover {
  outline: 1px solid #846AD5;
  background: transparent;
  color: #FFFFFF;
}
header .side-drawer .btn-signin {
  width: 100%;
}
header .side-drawer .item {
  width: 183px;
  margin: 0 auto;
  margin-bottom: 0.7rem;
}
header .side-drawer .item a {
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  letter-spacing: -0.21px;
  color: #FFFFFF;
  margin-left: 20px;
}
header .item a.active,
header .item a:hover {
  color: #1CFFE8;
}
header .side-drawer .seperator {
  margin-top: 3rem;
}
header .language-container {
  margin-left: 20px;
}
header .language-container div {
  background: #5d4c94 0% 0% no-repeat padding-box;
  border: 1px solid #a08ddc;
  height: 25px;
  margin: 0 10px;
}
header .btn-language {
  border-radius: 7px;
  background: transparent;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
header .btn-language:hover {
  outline: 1px solid #34F8FF;
}
header .btn-language.active {
  outline: 1px solid #34F8FF;
}
header .svg-container {
  display: none;
  width: 30px;
  cursor: pointer;
}
header .side-drawer {
  height: 100%;
  width: 0; /* Drawer is initially hidden */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5D4C94;
  overflow-x: hidden;
  transition: 0.5s; /* Smooth transition for opening/closing drawer */
  padding-top: 50px;
  color: white;
}
header .side-drawer.open {
  width: 225px; /* Width of the drawer when it's open */
}

main {
  margin-top: 100px;
}
main .main-container {
  background: #FFFFFF;
}
main .primary-section {
  background: #8773C8 0% 0% no-repeat padding-box;
}
main .primary-section p {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Poppins';
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
main .white-section .white-item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #8773C8;
  border-radius: 28px;
  max-width: 340px;
}
main .white-section .white-item h3.text-primary {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  font-family: 'Poppins';
  text-align: left;
  font: normal normal bold 24px/35px Poppins;
  letter-spacing: 0px;
  color: #8773C8;
}
main .white-section .white-item h3 span {
  color: #fff;
}
main .white-section .white-item p.label {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  font-family: 'Poppins';
  letter-spacing: 0px;
  color: #272727;
}
main .secondary-section {
  background: #807F84 0% 0% no-repeat padding-box;
}
main .secondary-section p {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Poppins';
  letter-spacing: -0.24px;
  color: #FFFFFF;
}
main p.paragraph {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Poppins';
  letter-spacing: -0.24px;
  color: #2B2B2B;
}
main p.paragraph2 {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.24px;
  color: #2B2B2B;
}
main .placeholder-box {
  min-height: 230px;
  background-color: #3E3E3E;
  border-radius: 24px;
}
main .br {
/*  display: none;*/
}
main .btn-create-affiliate {
  background: #8773C8 0% 0% no-repeat padding-box;
  border: 4px solid #B19AFF;
  border-radius: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.27px;
  color: #FFFFFF;
}

main .btn-create-affiliate:hover {
  color: #FFFFFF;
  background: #5d4c94  0% 0% no-repeat padding-box;
}
main table {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 1px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
main table .th-tr {
  background: #8773C8 0% 0% no-repeat padding-box;
}

main table .th-tr th {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.27px;
  color: #FFFFFF;
  padding: 8px 0;
  text-align: center;
}

main table td {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.27px;
  color: #2B2B2B;
  padding-left: 20px !important;
}
main .step-number {
  background: #8773C8 0% 0% no-repeat padding-box;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.27px;
  color: #FFFFFF;
}
main .step-diagonal {
  min-width: 35px;
  background: linear-gradient(to bottom left, #E6E6E6 49%, #8773C8 51%);
}
main .step-text {
  background: #E6E6E6 0% 0% no-repeat padding-box;
}
main .step-container {
  background: #E6E6E6 0% 0% no-repeat padding-box;
}
main .step-container p {
  margin-left: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.24px;
  color: #262626;
}
main .border-item {
  width: 250px;
}
main .border-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 25px;
  width: 100%;
  height: 200px;
}
main .border-item p {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins';
  letter-spacing: -0.27px;
  color: #2B2B2B;
}
main hr.h2 {
  height: 2px;
}