
@media only screen and (max-width: 1399px) {
  .container{
    max-width: 1300px;
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (max-width: 1319px) {
  header .svg-container {
    display: flex !important;
  }
  header nav ul,
  header nav .btn-signup,
  header nav .btn-signin {
    display: none !important;
  }
  header .links-container {
    justify-content: flex-end !important;
  }
  header .nav-inner-container {
    justify-content: space-between !important;
  }
}
@media only screen and (max-width: 1275px) {
  main .px-10 {
    padding-right: 6rem!important;
    padding-left: 6rem!important;
  }
}
@media only screen and (max-width: 1243px) {
  main .px-10 {
    padding-right: 5rem!important;
    padding-left: 5rem!important;
  }
}
@media only screen and (max-width: 1211px) {
  main .px-10 {
    padding-right: 4rem!important;
    padding-left: 4rem!important;
  }
}
@media only screen and (max-width: 1179px) {
  main .px-10 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
}
@media only screen and (max-width: 1147px) {
  main .px-10 {
    padding-right: 2rem!important;
    padding-left: 2rem!important;
  }
}
@media only screen and (max-width: 1115px) {
  main .px-10 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
}
@media only screen and (max-width: 1083px) {
  main .white-section {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 830px) {
  main .place-holder-container {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 769px) {
  header .nav-inner-container {
    padding: 0px 10px !important;
  }
  main .placeholder-box.w-half {
    width: 100%;
  }
  main .primary-section .primary-section-text {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 700px) {
  main .icon-box {
    gap: 2rem;
    padding: 1.5rem 2rem;
  }
  main .icon-box img {
    margin: 0 auto;
  }
  main .faq-container-text {
    padding-left: 0!important;
    padding-right: 0!important;
  }

}
@media only screen and (max-width: 466px) {
  main .px-10 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
  }
  main .icon-box {
    flex-wrap: wrap;
  }
  header .nav-inner-container {
    padding: 0px 7px !important;
  }
  header .svg-container {
    width: 30px !important;
  }
  header .language-container div {
    margin: 0 7px !important;
  }
  header .language-container {
    font-size: 12px !important;
  }
  header .btn-language {
    gap: 3px;
  }
  header .marquee p,
  footer p {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 425px) {
  main .input-container {
    gap: 1rem!important;
    margin-bottom: 1rem!important;
  }
  main .px-10 {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  main {
    margin-top: 95px;
  }
  header nav {
    min-height: 50px !important;
  }
  .mb-5 {
    margin-bottom: 1.5rem!important;
  }
  .my-5 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
  }
  .pt-5 {
    padding-top: 1.5rem!important;
  }
  .py-5 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
  }
  main table.home td {
    font-size: 16px;
    line-height: 25px;
  }
  main table.home .th-tr th {
    font-size: 16px;
    line-height: 25px;
  }
  main p.paragraph2 {
    font-size: 16px;
    line-height: 25px;
  }
  main .primary-section p {
    line-height: 25px;
  }
  main .btn-create-affiliate {
    font-size: 16px;
    line-height: 25px;
    width: 350px;
  }
  main .step-number {
    font-size: 16px;
    line-height: 25px;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  main .step-container .step-container-text {
    font-size: 16px;
    line-height: 25px;
    margin-left: 0.5rem;
    padding: 5px 0;
  }
  br.br {
/*    display: none;*/
  }
  main .border-item .border-box-text {
    font-size: 16px;
    line-height: 25px;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
  }
  footer .above {
    display: block;
    text-align: center;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
  }
  footer .footer-text-container {
      margin: 1rem 0;
  }
}
@media only screen and (max-width: 416px) {
  header .nav-inner-container img.logo {
    height: 25px !important;
  }
}
@media only screen and (max-width: 400px) {
  header nav {
    min-height: 50px !important;
  }
  header .svg-container {
    width: 25px !important;
  }
  header .language-container {
    margin-left: 0px !important;
  }
  header .links-container>div {
    gap: 5px !important;
  }
  header .btn-language {
    font-size: 10pt !important;
  }
  header .language-container img {
    height: 15px!important;
  }
}
@media only screen and (max-width: 375px) {
  main .btn-create-affiliate {
    width: 320px;
  }
  main .form-header .header-label {
    font-size: 14px;
  }
  main .form-header a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 353px) {
  header .nav-inner-container img.logo {
    height: 22px !important;
  }
  header .btn-language {
    font-size: 9pt !important;
  }
  header .svg-container {
    width: 22px !important;
  }
  header .nav-inner-container {
    padding: 0px 3px !important;
  }
  header .nav-inner-container>div {
    gap: 5px !important;
  }
  header .language-container {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 320px) {
  main .btn-create-affiliate {
    width: 300px;
    padding: 10px 10px !important;
  }
}

