:root {

/* Colors: */
--unnamed-color-2e2e2e: #2E2E2E;
--unnamed-color-e6344d: #E6344D;
--unnamed-color-090909: #090909;
--unnamed-color-b2b2b2: #B2B2B2;
--unnamed-color-000000: #000000;
--unnamed-color-9a78fe: #9A78FE;
--unnamed-color-a034ff: #A034FF;
--unnamed-color-ff1717: #FF1717;
--unnamed-color-9ac2ff: #9AC2FF;
--unnamed-color-738fc8: #738FC8;
--unnamed-color-9d8adc: #9D8ADC;
--unnamed-color-846ad5: #846AD5;
--unnamed-color-3c3355: #3C3355;
--unnamed-color-34f8ff: #34F8FF;
--unnamed-color-b9b9b9: #B9B9B9;
--unnamed-color-1cffe8: #1CFFE8;
--unnamed-color-a08ddc: #A08DDC;
--unnamed-color-5d4c94: #5D4C94;
--unnamed-color-b1a2e1: #B1A2E1;
--unnamed-color-232323: #232323;
--unnamed-color-4a3f6a: #4A3F6A;
--unnamed-color-262626: #262626;
--unnamed-color-e6e6e6: #E6E6E6;
--unnamed-color-b19aff: #B19AFF;
--unnamed-color-060606: #060606;
--unnamed-color-a0a0a0: #A0A0A0;
--unnamed-color-707070: #707070;
--unnamed-color-3e3e3e: #3E3E3E;
--unnamed-color-272727: #272727;
--unnamed-color-0ad5ff: #0AD5FF;
--unnamed-color-fbfbfb: #FBFBFB;
--unnamed-color-807f84: #807F84;
--unnamed-color-2b2b2b: #2B2B2B;
--unnamed-color-8773c8: #8773C8;
--unnamed-color-9d40b8: #9D40B8;
--unnamed-color-676767: #676767;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-f0ebff: #F0EBFF;

/* Font/text values */
--unnamed-font-family-segoe-ui: Segoe UI;
--unnamed-font-family-poppins: Poppins;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-11: 11px;
--unnamed-font-size-12: 12px;
--unnamed-font-size-13: 13px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-15: 15px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-23: 23px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-25: 25px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing--0-17: -0.17px;
--unnamed-character-spacing--0-2: -0.2px;
--unnamed-character-spacing--0-21: -0.21px;
--unnamed-character-spacing--0-24: -0.24px;
--unnamed-character-spacing--0-27: -0.27px;
--unnamed-character-spacing--0-3: -0.3px;
--unnamed-character-spacing--0-34: -0.34px;
--unnamed-character-spacing--0-18: -0.18px;
--unnamed-character-spacing-0-14: 0.14px;
--unnamed-character-spacing--0-38: -0.38px;
--unnamed-character-spacing--0-23: -0.23px;
--unnamed-line-spacing-18: 18px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-21: 21px;
--unnamed-line-spacing-23: 23px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-27: 27px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-35: 35px;
--unnamed-line-spacing-38: 38px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-82: 82px;
--unnamed-line-spacing-97: 97px;
--unnamed-line-spacing-117: 117px;
--unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-b19aff);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-2e2e2e);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-e6344d);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing--0-18);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing--0-18);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-7 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-8 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-9a78fe);
}
.unnamed-character-style-9 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-000000);
}
.unnamed-character-style-10 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-b2b2b2);
}
.unnamed-character-style-11 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-000000);
}
.unnamed-character-style-12 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-9a78fe);
}
.unnamed-character-style-13 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-a034ff);
}
.unnamed-character-style-14 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-15 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing--0-3);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-16 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-13);
line-height: var(--unnamed-line-spacing-44);
letter-spacing: var(--unnamed-character-spacing--0-2);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-17 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-44);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-18 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing--0-27);
color: var(--unnamed-color-ff1717);
}
.unnamed-character-style-19 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-20 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-21 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing--0-38);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-22 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-23 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-b9b9b9);
}
.unnamed-character-style-24 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-15);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing--0-23);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-25 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-26 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing--0-21);
color: var(--unnamed-color-1cffe8);
}
.unnamed-character-style-27 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0-14);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-28 {
font-family: var(--unnamed-font-family-segoe-ui);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-b1a2e1);
}
.unnamed-character-style-29 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-30 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-31 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing--0-27);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-32 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-262626);
}
.unnamed-character-style-33 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing--0-38);
color: var(--unnamed-color-060606);
}
.unnamed-character-style-34 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing--0-27);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-35 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing--0-27);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-36 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-37 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-272727);
}
.unnamed-character-style-38 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-35);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-8773c8);
}
.unnamed-character-style-39 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-40 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing--0-27);
color: var(--unnamed-color-2b2b2b);
}
.unnamed-character-style-41 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing--0-3);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-42 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-11);
line-height: var(--unnamed-line-spacing-97);
letter-spacing: var(--unnamed-character-spacing--0-17);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-43 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-23);
line-height: var(--unnamed-line-spacing-117);
letter-spacing: var(--unnamed-character-spacing--0-34);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-44 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-82);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-45 {
font-family: var(--unnamed-font-family-segoe-ui);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-676767);
text-transform: var(--unnamed-text-transform-uppercase);
}